.column-layout {
    display: flex;
    flex-direction: column;
}
.view-3-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    height: 404px;
    min-width: 50px;
    min-height: 50px;
    max-height: 404px;
}
.row-layout {
    display: flex;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: 359px;
    min-width: 50px;
    min-height: 50px;
    max-height: 359px;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_3 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: 385px;
    min-width: 50px;
    min-height: 50px;
    max-height: 385px;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    width: 960px;
    min-width: 50px;
    min-height: 50px;
    max-width: 960px;
}
.group_5 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    width: 958px;
    min-width: 50px;
    min-height: 50px;
    max-width: 958px;
}
.grid {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.chart {
    min-width: 400px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.pie-chart {
    min-width: 250px;
    min-height: 250px;
    flex-grow: 1;
    flex-basis: 0;
}
